/**
 * This file contains styling specific to Tripal
 */

.region.region-header {
  padding: 10px 25px 10px 0;
}

#branding.branding-elements {
  padding: 10px 25px 60px 25px;
}

/**
 * Style the Tripal Search Block
 */

.block-tripal-api-search{
  background: #EFEFEF;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #e1e1e1;
}

.search-box {
    position: relative;
    width: 100%;
    margin: 0;
}

.form-item-search-text {
    font-size: 14px;
    height: 40px;
    color: #ddd;
    border-width: 0;
    margin-right:10px;
}

.search-box input[type="text"] {
    width: 90%;
    height: 40px;
    padding: 0px 0px 0px 1em;
    color: #333;
    outline: none;
}

#edit-search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-width: 0;
    background: #A4A4A4;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

span.tripal-search-section .form-radios {
  padding-right: 80px;
}

span.tripal-search-section .form-item {
  display: inline;
  float: right;
  padding-top: 0px;
  margin: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
}

/**
 * Make row for deprecated function in search results greyed out
 */
td.Deprecated, td.Deprecated a{
  color: #A4A4A4;
  font-style: italic
}

span.Deprecated {
  font-weight: bold;
}

/**
 * Fix Active Main Menu Link highlighting
 * Broken with superfish
 */
li.active-trail a.sf-depth-1.menuparent.sf-with-ul {
  color: #2e2e2d;
}
